
  <mat-toolbar color="primary">
    <span>News from the NewsAPI</span>
    <span class="example-spacer"></span>
    <button mat-button *ngIf='(currentUser | async)' [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="">Home</button>
    <button mat-menu-item routerLinkActive='active'
      routerLink="/source/list">Sources</button>
    <button mat-menu-item routerLinkActive='active'
      routerLink="/article/list">Articles</button>
    <button mat-menu-item routerLinkActive='active'
      routerLink="/source/add">Add Source</button>
    <button mat-menu-item *ngIf='(currentUser | async) else loginlink' class="item" routerLinkActive='active' routerLink="/logout">{{currentUser|async}}</button>
    <ng-template #loginlink>
      <button mat-menu-item routerLinkActive='active' routerLink="/login">log in</button>
    </ng-template>
  </mat-menu>
  <router-outlet></router-outlet>
